.intro-card {
    background-color: #6b3374;
    color: white;
    border: thin #ffffff solid;
    text-align: center;
}

.mat-card-title {
    font-size: 30px;
    line-height: normal;
    display: inline;
}