<div class = "content">
    <mat-card>
        <mat-card-title>
            About
        </mat-card-title>
        <mat-card-content>
            We understand people are experiencing some system issues which
            are stopping them from helping our clients to the best of their ability. 
            This page is designed to answer some common questions, which should help you self-service and 
            resolve system issues without the help of Technology Services.
        </mat-card-content>
    </mat-card>
    <br/>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let question of questionsAndAnswers">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>{{question.question}}</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class = "answers" [innerHtml] = "question.answer">{{question.answer}}</div>
        </mat-expansion-panel>
    </mat-accordion>
</div>