<div class = "content">
    <mat-card>
        <mat-card-title>
            About
        </mat-card-title>
        <mat-card-content>
            We understand some people are experiencing system issues which
            are hindering them from helping clients. 
            This page is designed to answer some common questions, which should help you self-service and 
            resolve system issues without the help of Technology Services.
        </mat-card-content>
    </mat-card>
    <br/>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let question of questionsAndAnswers">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{question.question}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class = "answers" [innerHtml] = "question.answer">{{question.answer}}</div>
        </mat-expansion-panel>
    </mat-accordion>
</div>