/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: arial, sans-serif; 
}

@media only screen and (max-width: 900px) {
    .mat-card-header .mat-card-title {
        font-size: 17px;
    }

    .mat-card-content {
        font-size: 12px
    }

    .mat-expansion-panel-header {
        padding: 15px;
        font-size: 10px;
    }

    .answers {
        padding: 0px;
        font-size: 9px;
    }

    img.responsive-image {
        width: 40vw;
    }

  }

  .content {
    padding: 75px;
}


@media only screen and (max-width: 600px) {
    .content {
        padding: 0px;
    }

    .mat-card-header .mat-card-title {
        font-size: 15px;
    }

    .mat-card-content {
        font-size: 10px
    }

    .mat-expansion-panel-header {
        font-size: 10px;
    }

    .answers {
        font-size: 10px;
    }

    img.responsive-image {
        width: 50vw;
        align-items: center;
    }

  }