/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: arial, sans-serif; 
}

@media only screen and (max-width: 600px) {
    .mat-card-title {
        font-size: 15px;
    }

    .mat-card-content {
        font-size: 10px
    }

    .mat-expansion-panel-header {
        padding: 15px;
        font-size: 7.5px;
    }

    .answers {
        padding: 0px;
        font-size: 7.5px;
    }

  }